* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "IBM Plex Serif", serif;
    font-weight: 300;
    font-style: normal;
}


/* =======================
   NAVIGATION
======================= */

nav {
    background: #f5f5f5;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 40px;

    border-bottom: 1px solid #ddd;
}

.logo {
    font-size: 22px;
    font-weight: bold;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 35px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
}

nav a:hover {
    font-weight: bold;
}

/* =======================
   BANNER
======================= */

.hero img {
    width: 100%;
    height: 320px;
    object-fit: cover;
    display: block;
}

/* =======================
   HOME PAGE LAYOUT
======================= */

.about {

    max-width: 1350px;

    margin: 0 auto;

    display: grid;

    grid-template-columns: 280px 1fr;

    gap: 80px;

    padding: 40px;
}

/* =======================
   LEFT COLUMN
======================= */

.profile {
    margin-top: -120px;
}

.profile img {
    width: 220px;
    height: 220px;
    object-fit: cover;

    border: 5px solid white;
}

.profile h2 {
    margin-top: 20px;
    font-size: 26px;
}

.profile p {
    margin-top: 10px;
    margin-bottom: 10px;
}



.links{
    display:flex;
    flex-direction:column;
    gap:10px;
    margin-top:10px;
}

.links a {
    text-decoration: underline;
    color: #3b7696;
    font-size: 15px;
}

.links a:hover {
    color: black;
}

/* =======================
   RIGHT COLUMN
======================= */

.about-text h1 {
    font-size: 60px;
    margin-bottom: 20px;
}

.about-text p {
    font-size: 18px;
    margin-bottom: 30px;
}

.quick-facts {
    display: grid;

    grid-template-columns: repeat(2, 2fr);

    gap: 18px;

    margin-top: 40px;
}

.quick-facts div {
    background: white;

    padding: 13px;

    border-radius: 3px;

    border-left: 3px solid #6396b8;
}

/* =======================
   Other Page Layout HEADERS
======================= */

.page-layout {

    max-width: 1350px;

    margin: 0 auto;

    display: grid;

    grid-template-columns: 280px 1fr;

    gap: 80px;

    padding: 40px;
}

.main-content {
    min-width: 0;
}

.main-content h1{

    font-size: 35px;

    margin-bottom: 15px;
}
.main-content p{
    margin-right: 10px;
    margin-bottom: 20px;
}



/* =======================
   PROJECT PAGE
======================= */

.project-container{
    display: flex;

    flex-direction: column;

    gap: 60px;

    margin-top: 40px;
}


.project-grid {

    display: flex;

    align-items: flex-start;

    gap: 30px;
}

.cover img {

    display: flex;

    align-items: flex-start;

    gap: 30px;

    width: 300px;

    height: 185px;

    object-fit: cover;

    border-radius: 5px;
}

.content h2 {

    font-size: 20px;

    margin-bottom: 15px;
}

.content p {

    color: #6c6e6f;

    font-size: 15px;

    line-height: 1.7;

    margin-bottom: 15px;

    
}

.content h6{
    color: #87bada;
    font-size: 13px;
    line-height: 1.3;
    align-items: flex-end;
}

.more-text {
    display: none;
}

.read-more-btn {

    background: none;

    border: none;

    color: #a3acb3;

    font-size: 12px;

    padding: 0;

    margin-top: 2px;
    margin-bottom:10px;

    cursor: pointer;
}

.read-more-btn:hover {
    color: black;
}



/* =======================
   HOBBIES PAGE
======================= */

.hobby-section {

    max-width: 1300px;

    margin: 0 auto 70px auto;

    padding: 0 40px;
}

.hobby-section h2 {

    font-size: 20px;

    margin-bottom: 30px;
}

.video-grid {

    display: grid;

    grid-template-columns:
        repeat(auto-fit, minmax(450px, 1fr));

    gap: 30px;
}

.video-placeholder {

    background: white;

    border: 1px solid #ddd;

    height: 280px;

    display: flex;

    justify-content: center;

    align-items: center;

    font-size: 24px;
}

/* =======================
   CONTACT PAGE
======================= */

.contact-container {

    max-width: 900px;

    margin-right: auto;

    padding: 0 30px 80px 30px;
}

form {

    display: flex;

    flex-direction: column;

    gap: 20px;
}

input,
textarea {

    padding: 18px;

    font-size: 18px;

    border: 1px solid #ccc;
}

button {

    background: #6396b8;

    color: white;

    border: none;

    padding: 18px;

    font-size: 18px;

    cursor: pointer;
}

button:hover {
    opacity: 0.9;
}

/* =======================
   MOBILE
======================= */

@media (max-width: 900px) {

    nav {
        flex-direction: column;
        gap: 20px;
    }

    .about {

        grid-template-columns: 1fr;

        gap: 40px;
    }

    .profile {
        margin-top: 0;
    }

    .about-text h1 {
        font-size: 48px;
    }

    .about-text p {
        font-size: 20px;
    }

    .quick-facts {
        grid-template-columns: 1fr;
    }

    .page-layout{
        grid-template-columns: 1fr;

        gap: 40px;
    }

    .main-content{
        font-size: 20px;
    }
}